{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'myapp/styles.css'%}">
</head>
<body>
    <!-- <h1>this is a {{names}} bought the item of rupee : {{prices}}</h1>
    #{%for movi in movies%}
    <h2>now they buy movies are {{movi}}</h2>
    #{%endfor%} -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type='file' name="file" id="file"></input>
        <input type='submit' name="submit" id=""></input>
    </form>

    <table>
        <thead>
            <tr>
                <th>Property_Name</th>
                <th>Price</th>
                <th>Rent</th>
                <th>tax</th>
                <th>Emi</th>
                <th>Monthly Expence</th>
                <th>Total Expence</th>
                <th>Total_Income</th>

            </tr>
        </thead>
        <tbody>
            {%for object in data_objectss%}
            <tr>
                <td>{{object.name}}</td>
                <td>{{object.price}}</td>
                <td>{{object.rent}}</td>
                <td>{{object.tax}}</td>
                <td>{{object.Emi}}</td>
                <td>{{object.exp}}</td>
                <td>{{object.net_exp}}</td>
                <td>{{object.net_income}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>